*.resharper
*resharper.user
_ReSharper.*/
*.TeamCity.user
*csproj.user
*ds_store
*.Publish.xml
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache
*.user
*.vspscc
*.cache
*~
*.swp
_[Ss]vn
.[Ss]vn
*Thumbs.db
Path
*.gpState
*.csproj.vs10x
*.zip
*.generated.cs*.zipx
._*
*.log
Publish
/WebApp/koos.xml
*~1.*
*.gpState
*.Moles.dll
*.vsmdi
*web.original.config
/vox-group-contractservice/TestApplication/Form1.Designer.cs
/vox-group-contractservice/TestApplication/Form1.cs
/vox-group-contractservice/TestApplication/Program.cs
/vox-group-contractservice/TestApplication/Properties/AssemblyInfo.cs
/vox-group-contractservice/TestApplication/Properties/Resources.Designer.cs
/vox-group-contractservice/TestApplication/Properties/Resources.resx
/vox-group-contractservice/TestApplication/Properties/Settings.Designer.cs
/vox-group-contractservice/TestApplication/Properties/Settings.settings
/vox-group-contractservice/TestApplication/TestApplication.csproj
/vox-group-contractservice/TestWebApplication/About.aspx
/vox-group-contractservice/TestWebApplication/About.aspx.cs
/vox-group-contractservice/TestWebApplication/About.aspx.designer.cs
/vox-group-contractservice/TestWebApplication/Account/ChangePassword.aspx
/vox-group-contractservice/TestWebApplication/Account/ChangePassword.aspx.cs
/vox-group-contractservice/TestWebApplication/Account/ChangePassword.aspx.designer.cs
/vox-group-contractservice/TestWebApplication/Account/ChangePasswordSuccess.aspx
/vox-group-contractservice/TestWebApplication/Account/ChangePasswordSuccess.aspx.cs
/vox-group-contractservice/TestWebApplication/Account/ChangePasswordSuccess.aspx.designer.cs
/vox-group-contractservice/TestWebApplication/Account/Login.aspx
/vox-group-contractservice/TestWebApplication/Account/Login.aspx.cs
/vox-group-contractservice/TestWebApplication/Account/Login.aspx.designer.cs
/vox-group-contractservice/TestWebApplication/Account/Register.aspx
/vox-group-contractservice/TestWebApplication/Account/Register.aspx.cs
/vox-group-contractservice/TestWebApplication/Account/Register.aspx.designer.cs
/vox-group-contractservice/TestWebApplication/Account/Web.config
/vox-group-contractservice/TestWebApplication/Default.aspx
/vox-group-contractservice/TestWebApplication/Default.aspx.cs
/vox-group-contractservice/TestWebApplication/Default.aspx.designer.cs
/vox-group-contractservice/TestWebApplication/Global.asax
/vox-group-contractservice/TestWebApplication/Global.asax.cs
/vox-group-contractservice/TestWebApplication/Properties/AssemblyInfo.cs
/vox-group-contractservice/TestWebApplication/Scripts/jquery-1.4.1-vsdoc.js
/vox-group-contractservice/TestWebApplication/Scripts/jquery-1.4.1.js
/vox-group-contractservice/TestWebApplication/Scripts/jquery-1.4.1.min.js
/vox-group-contractservice/TestWebApplication/Site.Master
/vox-group-contractservice/TestWebApplication/Site.Master.cs
/vox-group-contractservice/TestWebApplication/Site.Master.designer.cs
/vox-group-contractservice/TestWebApplication/Styles/Site.css
/vox-group-contractservice/TestWebApplication/TestWebApplication.csproj
/vox-group-contractservice/TestWebApplication/Web.Debug.config
/vox-group-contractservice/TestWebApplication/Web.Release.config
/vox-group-contractservice/TestWebApplication/Web.config
*.docstates
TestResults
/Vox.Auditing/Vox.Auditing.Repository.SQLServer.Tests/MolesAssemblies/Vox.Auditing.Repository.SQLServer.Moles.xml
/Vox.Auditing/Vox.Auditing.Tests/MolesAssemblies/T2.SendingMessage.Library.Moles.xml
/Vox.Auditing/Vox.Auditing.Tests/MolesAssemblies/Vox.Auditing.Moles.xml
/Vox.Auditing/Vox.Auditing.Tests/MolesAssemblies/Vox.Auditing.Repository.SQLServer.Moles.xml