<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="VoxAuditingEntities" connectionString="metadata=res://*/DataModel.VoxAuditingModel.csdl|res://*/DataModel.VoxAuditingModel.ssdl|res://*/DataModel.VoxAuditingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.25.0.100;Initial Catalog=VoxAuditing;Persist Security Info=True;User ID=sa;Password=P!nkP3n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>