<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MessageQueueConnectionString" connectionString="UserName=admin;Password=devops;URL=dmq1.int.voxtelecom.co.za;Exchange=T2;MuxURL=dmq1.int.voxtelecom.co.za" />
        <add name="T2.SendingMessage.Library.Properties.Settings.MessageQueueConnectionString"
            connectionString="UserName=admin;Password=devops;URL=mq1.t2.voxcore.co.za;Exchange=WABBIT;MuxURL=dmq1.int.voxtelecom.co.za" />
        <add name="T2.SendingMessage.Library.Properties.Settings.MessageQueueConnectionStringDev"
            connectionString="UserName=admin;Password=devops;URL=mq1.t2.voxcore.co.za;Exchange=WABBIT;MuxURL=testing.t2.voxcore.co.za/" />
    </connectionStrings>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
</configuration>